
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: 'Roboto Mono', monospace;
}

main{
    height: 800px;
}

header {
    background-color: rgb(32, 31, 36);
    display: flex;
}

.espaco-h2{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.espaco-h2>h2{
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 30px;
}
#apresentacao-index{
    height: 500px;
    background-color: #f3f4f9;
    display:grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}
#apresentacao-index>p{
    padding: 100px 75px 60px;
}

#apresentacao-index>.imagem-mulher{
   grid-row: 2/3;
   grid-column: 1/2;
   align-self: flex-end;
   margin-left: 60px;
}
#apresentacao-index>.imagem-homem{
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: flex-end;
}
#apresentacao-index>p{
    font-size: 20px;
  grid-row: 1/3;
  grid-column: 3/4;
}
.espaco-depoimentos{
    font-size: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
    margin-left: 60px;
}
#depoimentos{
    background-color: #f3f4f9;
    display: grid;
    grid-template-columns:1fr 2fr 1fr 2fr;
    grid-row: 2fr 3fr;
    height: 350px;
}
 .imagem-1{
    margin-left: 60px;
    display: flex;
    align-self: flex-end;
}
.depoimento-1{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 65%;
   
}
.imagem-2{
    display: flex;
    align-self: flex-end;
}
.depoimento-2{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 65%;
    margin-left: 15px;
   
} 
.espaco-contato{
    display: flex;
    justify-content: flex-end;
    margin-top: 300px;
    height: 150px;
    margin-right: 60px;
}
.espaco-contato *{
    text-decoration:none; 
    color:#1f1f24;
    font-style: bold;
    font-size: 20px;
    display: flex;
    align-content: space-between;
}



/* page análise de crédito */



#corpo-credito{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr;
    grid-template-rows: 5fr 5fr;
}
#back{
    background: #f3f4f9;
    height: 100vh;
}
#corpo-credito>*{
    padding: 15px;
}
.imagem-apresentacao{
    grid-row: 1/2;
    grid-column: 1/4;
    margin-left: 90px;
    margin-top: 150px;
}
.text-credito{
    grid-row: 1/2;
    grid-column: 3/5;
    margin-top: 150px;
    font-size: 21px;
    margin-left: 150px;
    margin-right: 90px;
    
}
.tabela{
    grid-row: 2/3;
    grid-column: 1/4;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.imagem-tabela{
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
    justify-self:end;
    margin-right: 90px;
    margin-top: 60px;
}
.tabela{
    margin-left: 60px;
}
table{
    border-spacing: 10px;
}
.tabela>h3{
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 30px;
}
.item-tabela-1{
    background:#d2c2b0;
    height: 30px;
    font-size: 21px;
}
.item-tabela{
    background: #f4efe9;
    height: 40px;
    font-size: 21px;
}
.rodape-tabela{
    margin-top: 50px;
    font-size: 21px;
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    main{
        height: 600px;
    }
    .espaco-h2{
        height: 10vh;
    }
    .espaco-h2>h2{
        font-size: 30px;
    }
    #apresentacao-index{
        height: 70vh;
        background-color: #f3f4f9;
        display:grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }
    #apresentacao-index>p{
        padding: 30px 0px 30px;
        margin-top: 20px;
        font-size: 15px;
        grid-row: 1/2;
        grid-column: 2/4;
        margin-right: 30px;
    }
    
    #apresentacao-index>.imagem-mulher{
       grid-row: 2/3;
       grid-column: 1/3;
       align-self: flex-end;
       margin-left: 60px;
       width: 75%;
    }
    #apresentacao-index>.imagem-homem{
        grid-row: 2/3;
        grid-column: 3/4;
        align-self: flex-end;
        width: 75%;
    }
    .espaco-depoimentos{
        font-size: 15px;
        height: 150px;
    }
    #depoimentos{
        display: grid;
        grid-template-columns:1fr 2fr;
        grid-row: 1fr 1fr;
        height: 550px;
    }
    .imagem-1{
        grid-column: 2/3;
        margin-left: 0px;
        margin-top: 15px;
    }
    .depoimento-1{
        font-size: 14px;
        width: 80%;
        margin-top: 20px;
        grid-column: 1/3;
        margin-left: 30px;
    }
    .imagem-2{
        grid-column: 2/3;
        margin-top: 30px;
    }
    .depoimento-2{
        font-size: 14px;
        margin-top: 20px;
        width: 80%;
        grid-column: 1/3;
        margin-left: 30px;
    } 
    .espaco-contato{
        margin-top: 100px;
    }
    .contato{
        font-size: 15px;
    }

    /*Page Credito pessoal*/

    #corpo-credito{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .imagem-apresentacao{
        grid-row: 1/2;
        grid-column: 1/4;
        margin-left: 30px;
        margin-top: 30px;
       
    }

    .text-credito{
        margin-top: 60px;
        font-size: 16px;
        margin-left: 150px;
        margin-right: 60px;
        
    }
    .tabela{
        grid-row: 2/3;
        grid-column: 1/4;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    /* #back{
        background: #f3f4f9;
        height: 100vh;
    }
    #corpo-credito>*{
        padding: 15px;
    }
    
    
    
    
    .imagem-tabela{
        grid-row: 2/3;
        grid-column: 4/5;
        display: flex;
        justify-self:end;
        margin-right: 90px;
        margin-top: 60px;
    }
    .tabela{
        margin-left: 60px;
    }
    table{
        border-spacing: 10px;
    }
    .tabela>h3{
        margin-bottom: 40px;
        margin-top: 60px;
        font-size: 30px;
    }
    .item-tabela-1{
        background:#d2c2b0;
        height: 30px;
        font-size: 21px;
    }
    .item-tabela{
        background: #f4efe9;
        height: 40px;
        font-size: 21px;
    }
    .rodape-tabela{
        margin-top: 50px;
        font-size: 21px;
    } */
}
